.lk .nav a {
	padding: .4rem 1rem;
	border-radius: .5rem 1.2rem;
	border: none;
}

.lk .nav a.active {
	color: #fff;
	background: var(--brend-color);
}

.lk .nav a:hover {
	color: #fff;
	background: var(--brend-color);
}

.rental-section {
}

.rental-section h2 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.rental-card {
	display: flex;
	flex-direction: column;
	align-items: center;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.05);
  position: relative;
	overflow: hidden;	
  transition: 0.3s;
}

.rental-card:hover {
  box-shadow: 0 0 18px rgba(0,0,0,0.1);
}

.rental-card .rental-open {
	text-decoration: none;
	padding: 1rem;
	margin-top: auto;
	text-align: center;
	font-weight: bold;
	color: #fff;
	transition: .3s ease;
}

.rental-open:hover {
	background: rgb(246, 138, 14);;
}

.rental-card .category {
  font-size: 0.85rem;
  color: #999;
	margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.badge.hidden {
	visibility: none;
	opacity: 0;
}

.rental-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.rental-card img {
	padding: 0 1rem;
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
	transition: .3s ease;
}

.rental-card:hover img {
	scale: 1.05;
}

.rental-card .price {
  font-weight: 600;
  font-size: 1rem;
	margin-top: auto;
	margin-bottom: 1rem;
}

.badge {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.badge.orange {
  background: var(--brend-color);
  color: white;
}

.badge.gray {
  background-color: #EEE;
  color: #333;
}

.badges {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.rental-open {
	width: 100%;
	background: var(--bg-brend);
}
















.product-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.product-left {
  flex: 1 1 40%;
  max-width: 400px;
	border: 1px solid #dcdcdc;
	border-radius: 1.5rem;
	overflow: hidden;
}

.product-right {
  flex: 1 1 55%;
  max-width: 600px;
}

.main-image {
  width: 100%;
  border-radius: 16px;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.choose-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.rental-options {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.rental-options input[type="radio"] {
  display: none;
}

.rental-options label {
  padding: 0.3rem 2rem;
  border-radius: .5rem;
	border: 1px solid #333;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.rental-options input[type="radio"]:checked + label {
  background-color: var(--dark-color);
	color: #fff;
  border-color: #333;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.rent-button {
  background: var(--brend-color);
	color: #fff;
  border: none;
  padding: 1rem 4rem;
  border-radius: 32px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.specs-container {
  margin-top: 2rem;
}

.toggle-specs {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

.specs-content {
  display: none;
  background: #f9f9f9;
  border-radius: 12px;
	margin-top: 1vw;

}

.specs-content.open {
  display: block;
}

.specs-table {
  width: 100%;
  border-collapse: collapse;
	margin-top: .5vw;
}

.specs-table td {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.specs-table td:first-child {
  color: #666;
}















.payments-table-container {
  overflow-x: auto;
  margin-top: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  background: #fff;
}

.payments-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 720px;
}

.payments-table th,
.payments-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.payments-table thead {
  background-color: #fff;
}

.payments-table th {
  font-weight: 600;
  color: #333;
  font-size: 0.95rem;
}

.status {
  font-weight: 600;
  padding: 0.3rem 0.75rem;
  border-radius: 16px;
  font-size: 0.85rem;
}

.status.unpaid {
  background-color: #ffe6e6;
  color: #d00;
}

.status.paid {
  background-color: #e6ffe6;
  color: #228822;
}

.pay-button {
	border: 1px solid transparent;
  background-color: var(--dark-color);
	color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: .5rem;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
	transition: .3s ease;
}

.pay-button:hover {
	border: 1px solid var(--dark-color);
	color: var(--dark-color);
  background-color: transparent;
}








.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  animation: fadeIn 0.3s ease;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.modal input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-submit {
  background-color: var(--dark-color);
	color: #fff;
  border: none;
  padding: 0.8rem 1.2rem;
	margin-top: 1rem;
  border-radius: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: opacity 0.2s ease;
}

.modal-submit:hover {
  opacity: .9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
