		.hidden {
			display: none;
		}

		.fade {
			transition: opacity 0.4s ease, transform 0.4s ease;
			opacity: 0;
			transform: translateY(10px);
		}

		.fade.show {
			opacity: 1;
			transform: translateY(0);
		}

		.resend-link {
			margin-top: 1rem;
			font-size: 0.9rem;
			color: #007bff;
			text-decoration: underline;
			cursor: pointer;
		}

		.fade-out {
			animation: fadeOut 0.4s ease forwards;
		}

		.fade-in {
			animation: fadeIn 0.4s ease forwards;
		}

		@keyframes fadeOut {
			from {
				opacity: 1;
				transform: scale(1);
			}

			to {
				opacity: 0;
				transform: scale(0.95);
			}
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
				transform: scale(0.95);
			}

			to {
				opacity: 1;
				transform: scale(1);
			}
		}

		#authorization {
			margin: auto;
		}

		.auth-overlay {
			display: flex;
			background-color: #f9f9f9;
		}

		.auth {
			background-color: white;
			padding: 2.5rem 2rem;
			border-radius: 20px;
			max-width: 24vw;
			margin: auto;
			width: 100%;
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
			text-align: center;
		}

		.auth h2 {
			font-size: 1.8rem;
			color: #333;
			font-weight: 700;
			margin-bottom: 0.5rem;
		}

		.subtitle {
			font-size: 0.8rem;
			color: #666;
			margin-bottom: 1.5rem;
		}

		label {
			display: block;
			text-align: left;
			font-size: 0.75rem;
			color: #666;
			margin-bottom: 0.3rem;
		}

		input:focus,
		input:active {
			outline: 2px solid rgb(255, 155, 40);
		}

		input {
			width: 100%;
			padding: 0.8rem;
			border: none;
			background-color: #f1f1f1;
			border-radius: 12px;
			font-size: 1rem;
			margin-bottom: 1.5rem;
		}

		.submit-btn {
			background-color: #d9d9d9;
			color: black;
			font-weight: 600;
			font-size: 1rem;
			border: none;
			border-radius: 9999px;
			padding: 0.9rem 1.5rem;
			width: 100%;
			cursor: pointer;
			transition: background 0.3s ease;
		}

		.submit-btn:hover {
			background-color: #c5c5c5;
		}

		.agreement {
			font-size: 0.75rem;
			color: #333;
			margin-top: 1.5rem;
		}

		.agreement a {
			color: #000;
			text-decoration: underline;
		}

		.code-inputs {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;
			margin-bottom: 0.8rem;
		}

		.code-inputs input {
			height: 5rem;
			width: 4rem;
			font-size: 1.5rem;
			text-align: center;
			border-radius: 10px;
			border: 2px solid rgb(255, 155, 40);
			outline: none;
			background-color: #fff;
		}

		.error-msg {
			font-size: 0.8rem;
			color: #ff3f3f;
			margin-bottom: 1.2rem;
			align-items: center;
			gap: 4px;
			justify-content: center;
		}

		.error-msg span {
			font-size: 1rem;
		}

		.timer-text {
			font-size: 0.9rem;
			color: #333;
		}

		.timer {
			display: inline-block;
			margin-top: 0.3rem;
			font-weight: bold;
		}