* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f9f9f9;
}

main {
	min-height: 72vh;
}

/* Глобально */
.nobr {
  white-space: nowrap;
  overflow-wrap: normal;
  word-break: keep-all;
}